<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Utilisateurs</h1>
            <% if (users.length == 0) { %>
                <div class="alert alert-info" role="alert">
                    Aucun Utilisateurs
                </div>
            <% } else {  %>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Action</th>
                    </tr>
                    
                    <% for(i=0; i<users.length; i++){ %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= `${users[i].nom}` %></td>
                            <td><%= `${users[i].prenom}` %></td>
                            <td>
                                <a href="/supprimer?id=<%= `${users[i].id}` %>">Supprimer</a>
                            </td>
                        </tr>
                    <% } %>
                        
                </table>
            <% } %>
     
        </div>
    </main>
    
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>